/* DSAIndex.css */
a {
  text-decoration: none;
  color: #1565c0;
  transition: color 0.3s;
}

a:hover {
  color: #2e7d32;
}

.MuiListItem-root:hover {
  background-color: #e8f5e9 !important;
  transition: 0.3s;
}
